# ========== COMPANY CONTACT DETAILS ==========
# NEXT_PUBLIC_EMAIL_SUPPORT=
# NEXT_PUBLIC_LOCATION=
# NEXT_PUBLIC_PHONE=
# NEXT_PUBLIC_FAX=
# NEXT_PUBLIC_OFFICE_HOURS=
# NEXT_PUBLIC_FACEBOOK=
# NEXT_PUBLIC_LINKEDIN=

# ========== WEBSITE DETAILS ==========
# NEXT_PUBLIC_SITE_URL=

# ========== NODEMAILER ==========
# NEXT_RECEIVER_EMAIL=
# NEXT_SENDER_EMAIL=
# NEXT_SENDER_PASSWORD=