@import "tailwindcss";

:root {
  --header-height: 80px;

  --background: #F5F2FF;
  --foreground: #4C4356;

  --primary: #8A06FE;
  --secondary: #06C1FE;
  --tertiary: #FE6A06;
  --neutral: #1E1E2A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);

  --font-manrope: var(--font-sans-manrope);
  --font-inter: var(--font-sans-inter);
  --font-ireland: var(--font-cursive-ireland);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans-inter);
}

html {
  scroll-padding-top: var(--header-height);
}
